* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", serif;
  background: #fff;
  color: #000;

  min-height: 100vh;       
  display: flex;            
  flex-direction: column;   
}


header {
  background: #7fd1e8;
  padding: 20px;
  text-align: center;
  font-size: 32px;
  letter-spacing: 2px;
}

nav {
  background: #7fd1e8;
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 15px 0;
  border-top: 2px solid #7aa7e0;
  border-bottom: 2px solid #7aa7e0;
}

nav a {
  text-decoration: none;
  color: #000;
  font-size: 28px;
}

nav a:hover {
  text-decoration: underline;
}

.back {
  display: inline-block;
  margin-top: 60px;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  padding: 10px 20px;
}

.back:hover {
  background: #000;
  color: #fff;
}

footer {
  position: absolute;   /* 脱离文档流 */
  bottom: 0;            /* 压在图片底部 */
  left: 0;
  width: 100%;

  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: center;
  padding: 40px;

  margin-top: 0;        /* 这个已经没用了，但可以留 */
}


.img-box {
  position: relative;   /* 没有这个，100% 会失败 */
  width: 100%;
  margin: 0px auto;
}


.img-box img {
  width: 100%;
  display: block;
}

/* 文字 */
.img-text {
  position: absolute;   /* 关键 */
  top: 75%;
  left: 35%;
  transform: translate(-125%, -900%);  /* 真正居中 */
  color: rgb(30, 29, 29);
  font-size: 65px;
  letter-spacing: 3px;
  text-shadow: 0 0 10px rgba(0,0,0,0.6);
}
